@import url('https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --width-page: 80%;
    --height-header: 10%;
    --width-left: 60%;
    --width-right: calc(100% - var(--width-left));
}

html, body {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("frontend_css_task3_background.jpg");
    background-size: cover;
    z-index: -1;
}

.background .green {
    height: 100%;
    width: 100%;
    background-color: #009688;
    opacity: 0.5;
}

.page {
    width: var(--width-page);
    height: 100%;
}

.page .header {
    display: flex;
    height: var(--height-header);
}

.page .header .left {
    width: var(--width-left);
    color: white;
    font-family: 'Bungee Outline';
    font-weight: bold;
}

.page .header .right {
    width: var(--width-right);
    display: flex;
    justify-content: flex-end;
}

.page .header .right a {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
}

.page .header .right a:hover {
    border: 1px white;
}

.page .container {
    display: flex;
    height: 80%;
}

.page .container .first_container {
    width: var(--width-left);
}

.page .container .second_container {
    width: var(--width-right);
}

.page .container .first_container .text1 {
    color: white;
}

.page .container .first_container .text2 {
    color: black;
}

@media only screen and (max-width: 500px) {
    .page {
        width: 100%;
    }

    .page .container {
        flex-direction: column;
    }

    .page .container .first_container {
        width: 100%;
        height: 50%;
    }

    .page .container .second_container {
        width: 100%;
        height: 50%;
    }

}
