@import url('https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --width-page: 70%;
    --height-header: 10%;
    --width-left: 60%;
    --width-right: calc(100% - var(--width-left));
    --margin: 10px;
    --complete-width-without-margin: calc(100% - 2*var(--margin));
    --complete-height: 80%;
}

.margin {
    margin: var(--margin);
}

.black {
    color: black;
}

.submit {
    border: 0;
    color: white;
    background-color: black;
    padding: 10px 40px;
    font-size: 10px;
}

.textField {
    width: var(--complete-width-without-margin);
    margin: 5px 0;
    border: #009688;
    padding: 10px;
    font-size: 10px;
}

textarea {
    height: 50px;
}

.textField::placeholder {
    color: #009688;
}

.white {
    color: white;
}

html, body {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.small {
    font-size: small;
    margin: 5px 0;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    height: var(--complete-height);
    width: 100%;
    background: url("frontend_css_task3_background.jpg") center;
    background-size: cover;
    z-index: -1;
}

.background .green {
    height: 100%;
    width: 100%;
    background-color: #009688;
    opacity: 0.5;
}

.page {
    width: var(--width-page);
    height: var(--complete-height);
}

.page .header {
    display: flex;
    height: var(--height-header);
}

.page .header .left {
    width: var(--width-left);
    font-family: 'Bungee Outline';
    font-weight: bold;
}

.page .header .right {
    width: var(--width-right);
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
}

.page .header .right a:hover {
    border: 1px white;
}

.page .container {
    display: flex;
    font-family: 'Roboto';
    height: 80%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page .container .first_container {
    width: var(--width-left);
}

.page .container .second_container {
    width: var(--width-right);
}

@media only screen and (max-width: 400px) {
    .page {
        width: 100%;
    }

    .page .container {
        flex-direction: column;
    }

    .page .container .first_container {
        width: var(--complete-width-without-margin);
        height: 50%;
    }

    .page .container .second_container {
        width: var(--complete-width-without-margin);
        height: 50%;
    }

}
