@import url('https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("frontend_css_task3_background.jpg");
    background-size: cover;
    z-index: -1;
}

.background .green {
    height: 100%;
    width: 100%;
    background-color: #009688;
    opacity: 0.5;
}

.page {
    height: 100%;
}

.page .header {
    display: flex;
    height: 20%;
}

.page .header .link {
    flex-grow: 1;
    color: white;
    font-family: 'Bungee Outline';
    font-weight: bold;
}

.page .header .right {
    flex-grow: 1;
}

.page .header .right button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
}

.page .header .right button:hover {
}

.page .container {
    display: flex;
    height: 80%;
}

.page .container .first_container {
    width: 50%;
}

.page .container .second_container {
    width: 50%;
}

.page .container .first_container .text1 {
    color: white;
}

.page .container .first_container .text2 {
    color: black;
}

@media only screen and (max-width: 700px) {
    .page .container {
        flex-direction: column;
    }

    .page .container .first_container {
        width: 100%;
        height: 50%;
    }

    .page .container .second_container {
        width: 100%;
        height: 50%;
    }

}
